.conteneder-sidebar {
    height: 100%;
    width: 14%;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.conteneder-logo-sidebar {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-kundalini-sidebar {
    width: 70%;
    height: 100%;
}

.contenedor-botones-sidebar {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-botones-inferiores {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}

.contenedor-botones-acciones {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imagen-logo-boton {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

@media (max-width: 1366px) {
    .conteneder-logo-sidebar {
        height: 15% !important;
    }
    .contenedor-botones-sidebar {
        height: 85%;
    }

    .boton-selector {
        margin-left: 15px;
    }
    
    @media (max-height: 700px) {
        .conteneder-sidebar {
            width: 13%;
        }
    }
    @media (max-height: 620px) {
        .conteneder-sidebar {
            width: 12%;
        }
    }
    @media (max-height: 580px) {
        .conteneder-sidebar {
            width: 10%;
        }
    }
}
@media (max-width: 1024px) {
    
   
    @media (max-height: 600px) {
        .conteneder-sidebar {
            width: 13%;
        }
    }
    .boton-selector {
        margin-left: 15px;
    }
}