body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

* {
  font-size: 15px;
}

:root {
  --color-primario: rgb(255, 87, 87);
  --color-fondo: rgba(165, 165, 165, 0.37);
}
#root {
  height: 100%;
  background-color: var(--color-fondo);
}

.boton-accion {
  background-color: var(--color-primario) !important;
  height: 36px;
  width: auto !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.btn.boton-accion:hover  {
  background-color: rgb(252, 128, 128) !important;
}

.btn.boton-accion:active {
  background-color: var(--color-primario) !important;
}

.boton-selector {
    width: 80%;
    display: flex !important;
    justify-content: start !important;
    align-items: center;
    margin-left: 24px;
}

.boton-selector.active {
    background-color: #ffe5e5 !important; 
    color: #dc3545 !important; 
    font-weight: 600 !important;
    border: 1px solid transparent;

}

.boton-selector.active i {
    color: #dc3545 !important;
}

.boton-selector:hover {
    background-color: #ffe5e5 !important; 
    color: #dc3545 !important;
    
}

.boton-selector:focus {
    border: 1px solid #ff7e7e !important; 
    color: #dc3545 !important;
}

.filtro-abm {
    background-color: white;
    padding: 6px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    font-size: 14px;
}

.switch-rojo:checked {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario)  !important;
}

.switch-rojo {
    border-color: var(--color-primario) !important;
}

.switch-rojo:focus {
    border-color: var(--color-primario)  !important;
    box-shadow: 0 0 0 0.25rem rgba(165, 22, 22, 0.25) !important;
}

.switch-rojo:active {
    filter: brightness(90%);
}

.switch-rojo:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.switch-rojo[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(255, 87, 87)'/%3e%3c/svg%3e") !important;
}

.checkbox-rojo:checked {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
}

.checkbox-rojo {
    border-color: var(--color-primario) !important;
}

.checkbox-rojo:focus {
    border-color: var(--color-primario) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 87, 0.25) !important;
}

.checkbox-rojo:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}

@media (max-width: 1600px) {
  * {
    font-size: 13px;
  }
}
@media (max-width: 1366px) {
  * {
    font-size: 11px;
  }
}
@media (max-width: 1224px) {
  * {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  * {
    font-size: 9px;
  }
}
